In [1]:
import pandas as pd
import nltk

In [2]:
path = "Data.csv"

data = pd.read_csv(path)
data.shape

(2840, 4)

In [3]:
data.dropna(inplace=True)
data.shape

(2840, 4)

# Greeting --> Remove the question contaning 1 or 0 word

In [5]:
data = data.drop(data[data["question"].str.len()  <= 1].index)
data.shape

(2826, 4)

In [6]:
data = data.drop_duplicates(['intent', 'question'],keep=  'first')
data.shape

(2826, 4)

In [7]:
data['intent'].value_counts()

greeting_hey          755
registration          452
job                   424
remote_work           294
fellowship_program    226
coding                213
work_time             206
qualification          92
salary                 90
project                74
Name: intent, dtype: int64

In [8]:
def data_analysis(intent, list_of_keywords):
    previous_count = data[data['intent'] == intent].shape
    for i in range(len(data)):
        for j in list_of_keywords:
            if j in data['question'].iloc[i].lower():
                data['intent'].iloc[i] = intent
    current_count = data[data['intent'] == intent].shape
    return previous_count, current_count

# Fee

In [9]:
# previous_count, current_count = data_analysis('fee', ['fee', 'charge', 'price', 'free', 'money', 'cost', 'charges'])
# previous_count, current_count  

# ----------- Fee already specified in fellowship_program ------------ #

# Qualification

In [10]:
previous_count, current_count = data_analysis('qualification', ['eligible', 'qualification', 'allowed', 'eligibility', 'passout', "B.", 
                                                                "MBA", "passed", 'final year', 'fresher', 'engineer', 'graduate'])
previous_count, current_count

/home/akanksha/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

((92, 4), (276, 4))

# BridgeLabz

In [11]:
previous_count, current_count = data_analysis('bridgelabz', ['bridgelabz', 'company', 'consultancy', 'bridge'])
previous_count, current_count

((0, 4), (189, 4))

# Bootcamp

In [12]:
previous_count, current_count = data_analysis('bootcamp', ['club', 'bootcamp', 'camp'])
previous_count, current_count

((0, 4), (196, 4))

# Location

In [13]:
previous_count, current_count = data_analysis('location', ['walkin', 'place', 'mumbai', 'bangalore', 'chennai', 'location'])
previous_count, current_count

((0, 4), (95, 4))

# Technology

In [14]:
previous_count, current_count = data_analysis('technology', ['developer', 'java', 'python', "machine", 'data', 'embed', '.net', 'sql', 'project'])

for i in range(len(data)):
    if data['intent'].iloc[i] == 'project' or data['intent'].iloc[i] == 'technologies' :
        data['intent'].iloc[i] = 'technology'
        
data[data['intent'] == 'technology'].shape, previous_count, current_count

((151, 4), (0, 4), (103, 4))

# Salary

In [15]:
previous_count, current_count = data_analysis('salary', ['salary', 'package'])
previous_count, current_count

((76, 4), (88, 4))

# Registration

In [16]:
previous_count, current_count = data_analysis('registration', ['register', 'apply'])
previous_count, current_count

((320, 4), (450, 4))

# Cnntact Info

In [17]:
previous_count, current_count = data_analysis('contact_info', ['contact', 'call', 'connect', 'talk'])
previous_count, current_count

((0, 4), (110, 4))

# Error

In [18]:
previous_count, current_count = data_analysis('error', ['link', 'not working'])
previous_count, current_count

((0, 4), (116, 4))

In [19]:
data['intent'].value_counts()

greeting_hey          555
registration          396
job                   293
qualification         210
bootcamp              164
remote_work           156
fellowship_program    150
bridgelabz            143
technology            140
work_time             121
error                 116
coding                115
contact_info          109
salary                 80
location               78
Name: intent, dtype: int64

In [20]:
# data.to_csv("/home/akanksha/Akanksha/Company_Work/Chatbot_2.0/Filtered_Data/my_new_filtered_data1.csv")