In [1]:
from pymongo import MongoClient
import pandas as pd
from bson import ObjectId
import pygsheets
import pandas as pd


secretkey=12345
database='akanksha'
chatbotuser='akanksha'
chatbotpass='akanksha'
dbport=27017

username = chatbotuser
password = chatbotpass
database_name = database
port = 27017
server_address = "localhost"

uri = "mongodb://{}:{}@{}:{}/{}".format(username, password, server_address, port, database_name)
client = MongoClient(uri)
db = client.akanksha

In [2]:
cursor = list(db.QuestionAnswer.find({'project_id' : '5dc15779c346052fe774a8d1'}))
df1 = pd.DataFrame(cursor)
df1.shape

(11086, 14)

In [3]:
df1.drop(columns=['_id', 'datetime', 'response_time', 'project_id',
       'ip_address', 'location', 'platform', 'email_id', 'is_archived', 'flag',
       'last_modified', 'user_id'], inplace=True)
df1.shape

(11086, 2)

In [4]:
cursor = list(db.AnswerIntent.find({'project_id' : '5dc15779c346052fe774a8d1'}))
df2 = pd.DataFrame(cursor)
df2.shape

(13, 5)

In [5]:
df2.drop(columns = ['_id', 'project_id', 'datetime'], inplace=True)
df2.shape

(13, 2)

In [6]:
df = df1.merge(df2, on='answer', how='left', suffixes=('_',''))
df.sample(10)

,question,answer,intent
6263,"I am working professional in IT services, grad...",From morning 8.30 AM to 7.30 PM the fellowshi...,NaN
2231,What will be the fees,The program is free to the fellows. You do no...,NaN
6204,Actually i got this information from indeed,You will require to register for one of our r...,NaN
3069,How to apply,You can register here: http://codingtest.brid...,NaN
4129,is there any branch in pune?,The first interview depending on your skills ...,NaN
10150,How to upload the resume in bridgelabz,you can register here: http://codingtest.bridg...,registration
7961,is there any walkin interview tomorrow,"we have 2 labs, one is in bangalore and one is...",NaN
6871,I am an Bsc graduate,We have placed more than 500 engineers till d...,NaN
2435,Hi i saw advertisment that hiring software eng...,Bye,NaN
1934,when can I start?,Our fellows get salaries benchmark with the b...,NaN

In [7]:
df.shape

(11086, 3)

In [8]:
df.drop_duplicates(inplace=True)
df.shape

(8934, 3)

In [9]:
df.isna().sum()

question       0
answer         0
intent      6094
dtype: int64

In [11]:
df.fillna("missing", inplace=True)
len(df)

8934

In [12]:
df.head()

,question,answer,intent
0,hiiii,From morning 8.30 AM to 7.30 PM the fellowshi...,missing
1,How much I have to pay,The program is free to the fellows. You do no...,missing
2,Hi,Hello,missing
3,i need a job,The program is free to the fellows. You do no...,missing
4,salary?,Our fellows get salaries benchmark with the b...,missing

In [13]:
data = df[df['intent'] != 'missing']
data.shape

(2840, 3)

In [14]:
data.to_csv("Data.csv")